{% extends 'core/base.html' %}

{% load static %}

{% block title%} Checkout Success {% endblock %} 

{% load custom_filters %}

{% block content %}
<!-- Section: Design Block -->
<style>
  .form-check-input:checked[type="checkbox"] {
    background-color: #00B4D8;
  }
  .form-check-input[type="checkbox"] {
    width: 1.25em;
    height: 1.25em;
  }
  
  h1 {
    font-family: 'Open Sans ExtraBold';
    color:#00B4D8;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .navbar {
      height: 56px;
      background-color: #ffffff;
  }
  .navbar-nav .nav-link {
      color: #00B4D8;
  }   
  .card-img-top {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #bababa;
  }

  .quantity-input {
    text-align: center;
  }
  
  .border-gray {
    border-color: gray;
  }
  
</style>
  <nav class="navbar shadow navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="{% static "logo.png" %}" alt="icon" width="50" height="50" class="d-inline-block align-text-center" style="margin-top:-9px" >
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'my_checklists' %}">My Checklists</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.get_username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="/comparison">Comparison</a></li>
                      <li><a class="dropdown-item" href="/contact">Contact</a></li>
                      <li><a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a></li>
                    </ul>
                </li>
              </ul>
          </div>
      </div>
  </nav>

    <h1> Thank you for your purchase, Vina May Blen! </h1>
{% endblock%}


